
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        @{
            ViewData["Title"] = "Lost in the Woods";
        }
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body>
        <div class="mainbody">
            <div class="header">
                <h1 class="sameline">Lost in the Woods</h1>
                <h5 class="sameline indent">List of local hiking trails</h5>
            </div>
            <div>
                @{
                    foreach(var error in ViewBag.errors)
                    {
                        //If there are any errors for a field...
                        if(@error.Errors.Count > 0)
                        {
                            // We show the first error for that field
                            <p class="red"><b>@error.Errors[0].ErrorMessage</b></p>
                        }
                    }
                }
            </div>
            <table>
                <tr>
                <th>Trail Name</th>
                <th>Trail Length</th>
                <th>Elevation Change</th>
                </tr>
                @{
                    if(ViewBag.trails != null){
                        foreach(var trail in ViewBag.trails)
                        {
                        <tr>
                        <td><a href=/trails/@trail.Id>@Html.Raw(trail.Name.Replace(" ", "&nbsp;"))</a></td>
                        <td>@trail.TrailLength Miles</td>
                        <td>@trail.ElevationChange Feet</td>
                        </tr>
                        }
                    }
                }

            </table>
            <form action="/AddTrail" class="align_right">
                <input type="submit" class="spacer2" value="Add a new Trail">
            </form>
            
        </div>

    </body>
</html>
